<div class="notesW">
  <div *ngIf="note">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Note
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p *appNewNgFor="let item of note; let i = index;">{{item.data + " - " + item.regione + " - " + item.note}}</p>
      <!-- <p *ngFor="let item of note">{{item.data + " - " + item.regione + " - " + item.note}}</p> -->
      
        <!-- <p *ngFor="let item of note">{{item.data + " - " + item.regione + " - " + item.note}}</p> -->
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
