<mat-tab-group id="tab-group">
    <mat-tab label="Regioni" id="mat-tabR">
        <div class="table-container">
            <table mat-table [dataSource]="regioni" class="mat-elevation-z8">
                <ng-container matColumnDef="denominazione_regione">
                    <th mat-header-cell *matHeaderCellDef id="mat-cellR">Totale casi per Regione</th>
                    <td mat-cell *matCellDef="let element" appHighlight> {{element.denominazione_regione}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsR"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsR;"></tr>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="Province" id="mat-tabP">
        <div class="table-container">
            <table mat-table [dataSource]="province" class="mat-elevation-z8 ">
                <ng-container matColumnDef="denominazione_provincia">
                    <th mat-header-cell *matHeaderCellDef id="mat-cellP">Totale casi per Provincia</th>
                    <td mat-cell *matCellDef="let element" appHighlight> {{element.denominazione_provincia}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumnsP"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsP;"></tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>